html {
    display: flex;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 18px;
    background-color: #1F2937; 
    padding-top: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 48px;
    margin-left: 48px;
    color: #E5E7EB;
    align-items: center;
}

.logo {
    margin-left: 48px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.hero {
    display: flex;
    padding: 48px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.head {
    font-size: 48px;
    font-weight: 800;   
}

.head p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.info {
    margin-right: 32px;
}

.text {
    margin-top: 0px;
}

.hero img {
    width: 490px;
    height: 200px;
    object-fit: contain;
}

.button-1 {
    background-color: #3882F6;
    color: white;
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 90px 48px;
}

.heading {
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.container .heading {
    text-align: center;
    font-size: 36px;
}

.images {
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
}

.img-container {
    width: 200px;
}

.images img {
    flex: 1;
    height: 140px;
    width: 140px;
    object-fit: contain;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding: 48px;
}

.quote-author {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

.action-call {
    background-color: #3882F6;
    margin: 48px;
    color: white;
    border-radius: 5px;
    padding: 16px;
    display: flex;
}

    
footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    padding: 25px;
}