body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 18px;
    background-color: #1F2937;  
}

a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 100px;
    color: #E5E7EB;
    align-items: center;
}

.logo {
    margin-left: 100px;
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    display: flex;
    padding: 48px 100px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.text {
    font-size: 48px;
    font-weight: 800;
}

.text p {
    align-items: center;
}

.hero img {
    width: 300px;
    height: 200px;
}


footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    padding: 25px;
}